*{
	 padding : 0;
	 margin : 0;
	 border : 0;
}
body{
	 background-image : url('../img/tech.png');
	 background-attachment : fixed;
	 background-size : 100% auto;
}
p{
  color: black;
}
.blended_grid{
	 display : block;
	 width : 900px;
	 overflow : auto;
	 margin : 30px auto 0 auto;
}
.pageHeader{
	 background-color : rgba(255,255,255,0.4);
	 background-image : url('../img/bb.png');
	 float : left;
	 clear : none;
	 height : 200px;
	 width : 900px;
}
.pageContent{
	 background-color : rgba(96,239,255,0.4);
	 float : left;
	 clear : none;
	 height : auto;
	 width : 900px;
}
.pageFooter{
	 background-color : rgba(0,9,181,0.4);
	 float : left;
	 clear : none;
	 height : 100px;
	 width : 900px;
}



.product-info{
 background-color: white;
    height: 50%;
    padding: 1%;
    width: 74%;
    margin: 1%;
  float: left;
}

.more-info{
  float: right;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top,rgba(96,239,255,0.4), #2980b9);
  background-image: -moz-linear-gradient(top,rgba(96,239,255,0.4), #2980b9);
  background-image: -ms-linear-gradient(top, rgba(rgba(96,239,255,0.4)#3498db, #2980b9);
  background-image: linear-gradient(to bottom, rgba(96,239,255,0.4), #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 5px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

td {
  padding-left: 10px;
}

.cloud {
  background: url('../img/cloud.jpg');
    background-size: 76% 110%;
    background-repeat: no-repeat;
}
