{% extends "base.html" %}
{% block content %}
<div>
	 <form method="POST" action="/searchforproducts">
	 Product:
         {% csrf-field %}
		 <input type="text" name="product" />
		 <input type="submit" value="Search for product" />
	Choose product category (...ovde combo...)
	 </form>

	<div id="products">
      {% for item in results %}
	  <h2 class="name"> {{item.name}} </h2>
	  <img class="product-image" src="{{item.image}}"/>
	  <p class="manufacturer"> {{item.manufacturer}} </p>
	  <p class="regularPrice"> {{item.regularPrice}} </p>
	  <p class="onSale"> {{item.onSale}} </p>
	  <p class="percentSavings"> {{item.percentSavings}} </p>
	  <p class="salePrice"> {{item.salePrice}} </p>
	  <p class="long-description"> {{item.longDescriptione}} </p>
	  View product <a class="url" href="{{item.url}}" target="_blank"> here </a>

	  <form method="POST" action="/findouttopics">
        {% csrf-field %}
	  	<input class="sku" type="text" visible="false" name="sku" />
  		<input type="submit" name="{{item.sku}}" value="Find out topics!" />
	  </form>
      {% endfor %}
	</div>

	<div id="example" style="width: 550px; height: 350px;"></div>
</div>
{% endblock %}
