
<div>
	 <form method="POST" action="/searchforproducts">
	 Product:
         {% csrf-field %}
		 <input type="text" name="product" />
		 <input type="submit" value="Search for product" />
	Choose product category (...ovde combo...)
	 </form>

	 <div id="products">
	  <h2 class="name"> </h2>
	  <img class="product-image" src=""/>
	  <p class="manufacturer"> </p>
	  <p class="regularPrice"> </p>
	  <p class="onSale"> </p>
	  <p class="percentSavings"> </p>
	  <p class="salePrice"> </p>
	  <p class="long-description"> </p>
	  View product <a class="url" href="" target="_blank"> here </a>

	  <form method="POST" action="/findouttopics">
        {% csrf-field %}
	  	<input class="sku" type="text" visible="false" name="sku" />
  		<input type="submit" name="" value="Find out topics!" />
	  </form>
	 </div>

	</div>

	<div class="blended_grid">
		<div class="pageHeader">
			<div class="example" id="example"></div>
		</div>
		<div class="pageContent"></div>
		<div class="pageFooter"></div>
	</div>

	<div id="example" style="width: 550px; height: 350px;"></div>
</div>
